
.profile-container {
  margin-top: 2em;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  h6,
  small,
  p {
    align-items: center;
  }
  .contact {
    margin-bottom: 1em;
  }

  .box-img {
    margin: 0 auto;
  }

  .user-data {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .edit {
    border: none;
    color: #fff;
    font-weight: 300;
    background-color: #2fb86e;
    border-radius: 5px;
    font-size: 1em;
    width: 100px;

    &:active {
      position: relative;
      top: 1px;
    }
    a {
      text-decoration: none;
    }
  }
  .delete {
    border: none;
    background-color: transparent;
  }
  .user-avatar {
    width: 80px;
    height: 80px;
    border-radius: 50px;
    margin-bottom: 0.5em;
    object-fit: cover;
  }
  .user-posts {
    display: flex;
    width: 250px;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .post {
    display: flex;
    flex-direction: column;
    font-size: 1em;
    font-weight: 300;
    margin-top: 1em;
    text-align: center;
    img {
      width: 100px;
      height: 100px;
      object-fit: cover;
      border-radius: 10px;
    }
  }
}
