@import '~bootstrap/scss/bootstrap';

.signup-container {
  min-height: calc(100vh - 56px);
  .small-text {
    text-align: center;
  }
  #button {
    background-color: #2fb86e;
    border-color: #2fb86e;
  }
  #links {
    text-decoration: none;
    color: #197243;
    font-weight: bold;
  }
  .signs {
    margin: 5em 0 0 0;
  }
  
  form {
    padding: 30px 10px;
      input {
        margin-bottom: 10px;
      }
  }
}

